@page  "{restaurantId:int}"
@model demoOdeToFood.Pages.Restaurants.detailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Restaurant.Name</h2>

<div>
    Id : @Model.Restaurant.id
</div>
<div>
    HeadQuater : @Model.Restaurant.Location
</div>
<div>
   Languages : @Model.Restaurant.cuisine
</div>
@*<div>
    WebSite : @Model.Restaurant.WebSite
</div>*@
@if (Model.Message != null)
{
  <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./list" class="btn btn-default">All IT Comapny List</a>
